.root {
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Proxima Nova";
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.image {
  width: 300px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 10px;
}
.game_info {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}
.title {
  margin-bottom: 10px;
}
.genre {
  color: rgb(146, 146, 146);
  font-weight: 400;
  margin-bottom: 20px;
}
.description {
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.price_block {
  width: 100%;
  max-width: 600px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.price {
  margin-top: 10px;
  font-size: 25px;
  font-family: "Verdana Regular";
}
.add_to_cart {
  width: 200px;
  height: 50px;
  background-color: white;
}
.button_add_to_cart {
  width: 250px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  background-color: #9146ff;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Proxima Nova";
  cursor: pointer;
}
.button_add_to_cart:hover {
  background-color: #a569ff;
}
.buttonSuccess {
  composes: button_add_to_cart;
  background: none;
  border: 1px solid white;
}
.buttonSuccess:hover {
  background-color: #747474;
}

@media (min-width: 700px) {
  .container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .game_info {
    width: 100%;
    margin-top: 0;
  }

  .root {
    justify-content: center;
  }
  .main {
    flex-direction: row;
    max-width: 700px;
    justify-content: start;
    align-items: start;
    margin: 0;
  }
  .image {
    width: 700px;
    margin-right: 50px;
  }
  .description {
    margin: 0;
    max-width: 500px;
  }
}

@media (min-width: 1000px) {
  .main {
    max-width: 1000px;
  }
  .price_block {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .price {
    margin: 0 0 0 30px;
  }
}
