.root {
  width: 100%;
  max-width: 700px;
  height: 250px;
  background: #3a3a3a;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  font-family: "Proxima Nova";
}
.image {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
  margin-right: 20px;
}
.description {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-between;
  gap: 50px;
}
.game_info {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.name {
  font-size: 18px;
  width: 200px;
}
.genre {
  font-size: 18px;
  color: #aaaaaa;
}
.price {
  font-size: 22px;
}
.refund {
  font-size: 18px;
}
.remove_product_button {
  cursor: pointer;
  background: none;
  border: none;
  height: 40px;
}

@media (max-width: 1000px) {
  .root {
    margin-right: 0;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .root {
    margin-right: 0;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .description {
    width: 300px;
    justify-content: space-between;
    gap: 0px;
  }
  .image {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .root {
    max-width: 300px;
  }
}
