.root {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: #3a3a3a;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-top: 60px;
  font-family: "Proxima Nova";
  position: relative;
  flex-direction: column;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
}
.description {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px 0px 20px;
}
.game_info {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 10px;
}
.name {
  font-size: 25px;
  width: 200px;
  text-align: center;
}
.genre {
  font-size: 18px;
  color: #aaaaaa;
}
.price {
  font-size: 26px;
  margin-bottom: 30px;
  font-family: "Franklin Gothic Medium", sans-serif;
}
.refund {
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}
.remove_product_button {
  cursor: pointer;
  background: none;
  border: none;
  height: 40px;
  left: 250px;
  position: absolute;
  top: 15px;
}

@media (min-width: 840px) {
  .root {
    max-width: none;
    height: 300px;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
  }
  .remove_product_button {
    left: 600px;
  }
  .image {
    height: 250px;
  }
  .game_info {
    display: flex;
    flex-direction: row;
  }
  .description {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 30px;
  }
  .name {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    text-align: start;
  }
  .price_block {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1100px) {
  .remove_product_button {
    left: 650px;
  }
}
