.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.successMessage {
  color: green;
}

.errorMessage {
  color: red;
}
