.root {
  width: 100%;
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181818;
  padding-top: 50px;
  color: white;
}
.container {
  display: flex;
}
