.container {
  width: 100%;
  max-width: 1110px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  margin-top: 30px;
  margin-bottom: 100px;
}

.row_products {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  transition: left linear 1s;
}

.product {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.preloader {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 250px;
}

@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
}
