.container {
  height: 50px;
}

.root {
  height: 50px;
  background-color: #9146ff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}

.burgerIcon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
}
