.root {
  position: relative;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: -4px;
  left: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
