.root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Proxima Nova";
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.image {
  width: 250px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
  border-radius: 5px;
}
.image:hover {
  filter: brightness(120%);
}
.game_info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}
.genre {
  color: rgb(167, 167, 167);
  font-size: 14px;
}
.name {
  font-size: 16px;
  height: 40px;
}
.price {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.button_add_to_cart {
  width: 150px;
  height: 40px;
  background-color: #9146ff;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Proxima Nova";
  cursor: pointer;
}
