.swiper {
  width: 100%;
}
.swiper:hover {
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 0;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    display: flex;
  }
}
