.swiper {
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:hover {
  background: #363636;
}

.swiper-button-next:hover {
  background: #363636;
}

@media (max-width: 800px) {
  .swiper {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
}
