.swiper {
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: red;
  margin-right: 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
}

.swiper-button-next {
}
