.root {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Proxima Nova";
  background: rgb(56, 14, 121) 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 100px;
  margin-bottom: 20px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.text {
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  height: 200px;
}

@media (min-width: 800px) {
  .root {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .block {
    margin-bottom: 0;
  }
  .container {
    max-width: 1000px;
    justify-content: center;
    gap: 30px;
  }
}
