.button {
  width: 150px;
  height: 40px;
  background-color: #9146ff;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Proxima Nova";
  cursor: pointer;
  margin-top: 20px;
}
.button:hover {
  background-color: #9c5ff7;
}
