.button {
  width: 150px;
  height: 40px;
  background-color: #9146ff;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background-color: #9c5ff7;
}
.message {
  width: 180px;
}

.message_success {
  composes: message;
  color: rgb(26, 213, 35);
}
.message_error {
  composes: message;
  color: rgb(225, 27, 27);
}
.message_to_sign_in {
  composes: message;
  color: #9146ff;
}
.preloader {
  width: 30px;
  height: 30px;
  margin: auto;
}
.button_go_to_cart {
  composes: button;
  background: none;
  width: 200px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button_go_to_cart:hover {
  background-color: #3d3d3d;
}
.link {
  text-decoration: none;
}
