.root {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  font-family: "Proxima Nova";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(27, 27, 27, 0.93);
  padding-left: 30px;
  padding-right: 30px;
}
.logo {
  margin-bottom: 30px;
}
.registration_header {
  margin-bottom: 20px;
}
.data_row {
  display: flex;
  width: 100%;
  max-width: 420px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.label {
  font-size: 18px;
  width: 100px;
  text-align: start;
}
.input {
  width: 250px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(45, 45, 45, 0.93);
  font-size: 20px;
  color: white;
  padding-left: 10px;
}
.button_sign_up {
  width: 100%;
  height: 50px;
  max-width: 400px;
  border-radius: 5px;
  border: 0;
  background: rgba(0, 94, 255, 0.93);
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  /* position: absolute; */
}
.error_message {
  color: red;
  font-size: 16px;
  width: 240px;
  margin-left: 120px;
  margin-bottom: 20px;
}
.link_to_sign_up {
  margin-top: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.link_to_sign_up:hover {
  color: rgb(159, 159, 159);
}

@media (max-width: 470px) {
  .root {
    text-align: center;
  }
  .error_message {
    color: red;
    font-size: 12px;
    width: 240px;
    margin-left: 120px;
    margin-bottom: 10px;
  }
  .input {
    width: 100%;
    height: 40px;
  }
  .label {
    display: block;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .button_sign_up {
    width: 100%;
  }
  .data_row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
